---
title: API Docs
---
{% assign sorted_collections = site.collections | sort: "position_number" %}
{% for collection in sorted_collections %}
	{% assign sorted_docs = collection.docs | sort: "position_number" %}
	{% for doc in sorted_docs %}
		<section class="doc-content">
			<section class="left-docs">
				<h3>
					<a id="{{ doc.id | replace: '/', '' | replace: '.', '' }}">
						{{ doc.title }}
						{% if doc.type %}
							<span class="endpoint {{ doc.type }}"></span>
						{% endif %}
					</a>
					<a class="editor-link" href="cloudcannon:collections/{{ doc.relative_path }}">Edit</a>
				</h3>
				{% if doc.description %}
					<p class="description">{{ doc.description }}</p>
				{% endif %}
				{{ doc.content_markdown_method | markdownify | replace: "<dl>", "<h6>Parameters</h6><dl>" }}
					{% if doc.left_code_blocks and doc.left_code_blocks[0].code_block %}
					{% for block in doc.left_code_blocks %}
							{% include syntax-highlight.html block=block %}
							{% endfor %}
					{% endif %}
				{% if doc.parameters and doc.parameters[0].name %}
						<h6>Parameters</h6>
						<table class="methodParameters">
							<tr>
								<th>Type</th>
								<th>Params</th>
								<th>Data Type</th>
							</tr>
							{% for parameter in doc.parameters %}
							<tr>
								<td>{{ parameter.name }}</td>
								<td>{{ parameter.content }}</td>
								<td>{{ parameter.values }}</td>
							</tr>
							{% endfor %}
						</table>
				{% endif %}
				{{ doc.content_markdown |
					replace: "<dl>", "<h6>Parameters</h6><dl>" |
					replace: "!ORG_NAME!", site.org_name |
					replace: "!BASE_URL!", site.base_url |
					replace: "!SITE_URL!", site.site_url |
					replace: "!API_URL!", site.api_url |
					replace: "!DASHBOARD_URL!", site.dashboard_url |
					replace: "!DASHBOARD_REGISTER_URL!", site.dashboard_register_url |
					replace: "!LOGO_URL!", site.logo_url |
					replace: "!SANDBOX_API!", site.sandbox_api |
					replace: "!SANDBOX_DASHBOARD!", site.sandbox_dashboard |
					replace: "!SUPPORT_EMAIL!", site.support_email |
					replace: "!INTRO_HEADER!", site.intro_header |
					markdownify
				}}

			</section>
			{% if doc.right_code_blocks and doc.right_code_blocks[0].code_block %}
				<section class="right-code">
					{% if doc.right_request_blocks and doc.right_request_blocks[0].code_block %}
					{% for block in doc.right_request_blocks %}
							{% include syntax-highlight.html block=block %}
							{% endfor %}
					{% endif %}
				</section>
				<section class="right-code">
					{% for block in doc.right_code_blocks %}
							{% include syntax-highlight.html block=block %}
					{% endfor %}
				</section>
			{% endif %}
		</section>
	{% endfor %}
{% endfor %}
